---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ZiRO5JJnHqVs5dCn9HfF0cynV", oauth_nonce="cd5f49a8dad014b31ff2422e4f3077bb",
        oauth_signature="tmots5KKrpZlrjRd9nJKx2NjIj8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1478560401", oauth_token="24856333-sLieoNOjo8ovtcM9OOCo3Tr3YVextRgl0SsW6IJBC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 07 Nov 2016 23:13:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 231b6c06905cd395299caa6bd9aa5a81
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '897'
      X-Rate-Limit-Reset:
      - '1478560931'
      X-Response-Time:
      - '59'
      X-Transaction:
      - 00c26f0a00109b89
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Oct 03 19:09:30 +0000 2016","id":783021173982556160,"id_str":"783021173982556160","text":"RT
        @kaspth: At @rails we\u2019re not always the quickest to respond. Still, it\u2019s
        nice when it happens: https:\/\/t.co\/oiQQyVW58x \ud83c\udf83","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"kaspth","name":"Kasper
        Timm Hansen","id":38452139,"id_str":"38452139","indices":[3,10]},{"screen_name":"rails","name":"Ruby
        on Rails","id":3116191,"id_str":"3116191","indices":[15,21]}],"urls":[{"url":"https:\/\/t.co\/oiQQyVW58x","expanded_url":"http:\/\/www.peterschilling.org\/blackhole\/babys-first-rails-commit\/","display_url":"peterschilling.org\/blackhole\/baby\u2026","indices":[98,121]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3116191,"id_str":"3116191","name":"Ruby
        on Rails","screen_name":"rails","location":"","description":"Imagine what
        you could build if you learned Ruby on Rails\u2026","url":"https:\/\/t.co\/CIeGe0AbrA","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/CIeGe0AbrA","expanded_url":"http:\/\/rubyonrails.org","display_url":"rubyonrails.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":123896,"friends_count":27,"listed_count":3864,"created_at":"Sun
        Apr 01 10:20:11 +0000 2007","favourites_count":8,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":678,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EBEBEB","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/691206086955790336\/CDMbA57p_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/691206086955790336\/CDMbA57p_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3116191\/1453219159","profile_link_color":"990000","profile_sidebar_border_color":"DFDFDF","profile_sidebar_fill_color":"F3F3F3","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Oct 03 19:08:33 +0000 2016","id":783020937545412608,"id_str":"783020937545412608","text":"At
        @rails we\u2019re not always the quickest to respond. Still, it\u2019s nice
        when it happens: https:\/\/t.co\/oiQQyVW58x \ud83c\udf83","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rails","name":"Ruby
        on Rails","id":3116191,"id_str":"3116191","indices":[3,9]}],"urls":[{"url":"https:\/\/t.co\/oiQQyVW58x","expande[...]
