<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Login to get started.</p>
      <p>
        <%= link_to 'Login', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
      <p>
        <%= link_to 'Don\'t have an account? Register', new_user_registration_path, class: 'btn btn-link' %>
      </p>
    </div>
  </div>
<% end %>
